<div class="animated fadeIn">
  <p-panel #pnl [style]="{ 'margin-bottom': '10px' }">
    <p-header> Quản lý quyền </p-header>
    <div class="grid">
      <div class="col-6">
        <button pButton type="button" label="Thêm" icon="fa fa-plus" (click)="showAddModal()"
          class="ml-1 p-button-info"></button>
        <button pButton type="button" label="Xóa" icon="fa fa-trash" class="ml-1 p-button-danger"
          *ngIf="selectedItems.length > 0" (click)="deleteItems()"></button>
        <button pButton type="button" label="Sửa" icon="fa fa-edit" class="ml-1 p-button-help"
          *ngIf="selectedItems.length === 1" (click)="showEditModal()"></button>
      </div>
    </div>
    <p-table #dt [value]="items" selectionMode="single" dataKey="id" [(selection)]="selectedItems"
      [metaKeySelection]="true" [responsive]="true"  [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]" [rows]="5"  sortMode="multiple">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10px">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="name" style="width:30%" >Tên <p-sortIcon field="name" /></th>
          <th pSortableColumn="description" style="width:55%" >Mô tả <p-sortIcon field="description"/> </th>
          <th style="width:15%"></th>
        </tr>
        <tr>
          <th></th>
          <th>
              <p-columnFilter 
                  type="text" 
                  field="name" 
                  placeholder="Search by name" 
                  ariaLabel="Filter Name" />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <td style="width: 10px">
            <span class="ui-column-title"></span>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td>{{ row.name }}</td>
          <td>{{ row.description }}</td>
          <td>
            <button pButton (click)="showPermissionModal(row.id, row.name)">Phân quyền</button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No roles found.</td>
        </tr>
    </ng-template>
    </p-table>
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
      <p-progressSpinner [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>